.inputForm {
  width: 95%;
  display: flex;
  align-items: center;
  position: relative;
}

.input__box {
  width: 100%;
  padding: 20px 30px;
  border-radius: 50px;
  border: none;
  font-size: 25px;
  transition: 0.2s;
  box-shadow: inset 0 0 5px black;
  outline: none;
}

.input__box:focus {
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
  outline: none;
}

.input__button {
  position: absolute;
  right: 5px;
  border-radius: 50%;
  padding: 20px;
  font-size: 15px;
  cursor: pointer;
  background-color: #2f74c0;
  border: none;
  color: white;
  transition: 0.2s all;
  box-shadow: 0 0 10px black;
  margin: 5px;
}

.input__button:hover {
  background-color: #388ae2;
}

.input__button:active {
  transform: scale(0.8);
  box-shadow: 0 0 5px black;
}

.container {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10px;
  overflow: hidden;
}

.todos {
  display: flex;
  width: 47.5%;
  flex-direction: column;
  background-color: rgb(50,195, 205);
  padding: 15px;
  border-radius: 5px;
}

.todos__headings{
  font-size: 30px;
  color: white;
}

.remove{
  background-color: rgb(235,103, 80);
}

.singleTodo {
  display: flex;
  margin-top: 15px;
  border-radius: 5px;
  background-image: url("https://img.freepik.com/free-photo/crumpled-yellow-paper-background-close-up_60487-2390.jpg?size=626&ext=jpg");
  padding: 20px;
  transition: 0.2s;
}

.singleTodo:hover{
  transform: scale(1.03);
   box-shadow: 0 0 5px black;
}

.singleTodo__Text {
  flex: 1;
  font-size: 20px;
  padding: 5px;
  border: none;
}

.singleTodo__Text:focus {
  outline: none;
}

.icons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.icons {
  cursor: pointer;
  font-size: 25px;
}

@media screen and (max-width: 700px) {
  .inputForm {
    width: 95%;
  }
  .container{
    width: 95%;
    flex-direction: column;
    padding: 15px;
    display: flex;
    align-items: center;
  }
  .todos {
    width: 95%;
    margin-bottom: 10px;
  }
  .singleTodo {
     display: flex;
  }
}

@media (max-width: 1200px) {
  .singleTodo {
    width: 45%;
  }
}

.dragActive{
  background-color: #307a80;
}

.dragComplete{
  background-color: rgb(141, 65, 51);
}

.drag{
   box-shadow: 0 0 20px black;
}